{
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
    },
  },
  "rules": {
    semi: 0
  },
  "env": {
    "node": true
  }
}
